/* * {
    box-sizing: border-box;
  } */
  
  .whiteboard {
    height: 90vh;
    width: 80%;
    margin: auto;
    border: 1px solid black;
    /* position: absolute; */
    /* left: 0;
    right: 0;
    bottom: 0;
    top: 0; */
  }
  
  .colors {
    display: flex;
  }
  
  .color {
    height: 48px;
    width: 48px;
  }
  
  .black { background-color: black; height: 48px;
    width: 48px;}
  .red { background-color: red; height: 48px;
    width: 48px;}
  .green { background-color: green; height: 48px;
    width: 48px;}
  .blue { background-color: blue; height: 48px;
    width: 48px;}
  .yellow { background-color: yellow; height: 48px;
    width: 48px;}